:root{
	--headerModeC: rgb(255, 255, 255);
	--headerModeBC: rgb(36, 37, 38);
	--headerBC: rgb(255, 255, 255);
	--bodyC: rgb(24, 25, 26);
	--bodyBC: rgb(240, 242, 245);
	--profileHeaderBI: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0.7), rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,1));
	--profileNavC: rgb(100, 100, 100);
	--profileNavBC: rgb(230, 230, 230);
	--indtabcontentBC: rgb(255, 255, 255);
	--likedButtonC: rgb(0, 0, 0);
	--likedButtonBC: rgba(0, 70, 250, 0.4);
	--inputC: rgba(0,0,0,1);
	--inputBC: rgba(240,242,245,1);
	--inputPC: rgba(0, 0, 0, 0.7);
}
html{scroll-behavior: smooth;}
textarea{font-family: inherit;}
body{
	margin: 0;font-family: Segoe UI;
	background-color: var(--bodyBC);
	color: var(--bodyC);
	transition: background-color 0.5s,color 0.5s linear;
}
.nodisplay{display: none;}
.outsideModal{
	position: fixed;display: none;
	width: 100%;height: 100%;
	background-color: rgba(0, 0, 0, 0.8);z-index: 3;
}
.imageModal{
	position: fixed;
	max-width: 100vw;max-height: 70vh;
	top: 25%;left: 50%;transform: translateX(-50%);
	z-index: 3;
	animation: zoom 1s ease-in-out;
}
@keyframes zoom{
	0%{transform: translateX(-50%) scale(0.35);border-radius: 50%;opacity: 0;}
	20%{transform: translateX(-50%) scale(0.35);border-radius: 50%;opacity: 0;}
	100%{transform: translateX(-50%) scale(1);}	
}
#header{
	background-color: var(--headerBC);
	top: 0px;left: 0px; right: 0px; position: fixed;
	display: flex;height: 55px;z-index: 2;justify-content: space-between;align-items: center;
}
#headerMode{
	font-size: x-large;margin: 0 30px;border-radius: 50%;cursor: pointer;width: 35px;height: 35px;text-align: center;
	user-select: none;
	background-color: var(--headerModeBC);color: var(--headerModeC);
}
#headerMode:hover{opacity: 0.7;}
#headername {
	color: rgb(24,118,242);
	font-family: Segoe UI;font-weight: 750;transform: scale(1.2,1.4);
	padding: 0px 30px;margin-top: auto;margin-bottom: auto;
	cursor: pointer;
	user-select: none;
}
#tickIcon{
	width: 20px;height: 20px;
}
#profileHeader{
	background-image: var(--profileHeaderBI);
	box-shadow: 0 0 1px 2px rgb(180, 180, 180);
	width: 100%;justify-content: center;text-align: center;
	margin-top: 55px;left: 0;right: 0;
}
#profileCover{
	width: 100%; margin-left: auto; margin-right: auto;
	display: block;min-width: 30%;max-width: 950px;
	cursor: pointer;
}
#profileImage{
	width: 175px;height: 175px;border-radius: 50%;position: relative;
	margin-left: auto; margin-right: auto; margin-top: -150px;
	display: block;
	border: 4px white solid;border-radius: 50%;
	cursor: pointer;
}
#profileName{
	font-weight: 700;font-size: xx-large;
}
#profileNavDiv{
	width: 40%;text-align: left;
	margin-left: auto;margin-right: auto;padding: 10px 0 0 0;
	border-top: 1px solid rgb(170, 170, 170);display: flex;justify-content: center;
}
.profileNavsubDiv{
	padding: 15px 0px;
	color: var(--profileNavC);
	cursor: pointer;font-weight: 500;
}
.currentTabNav{border-bottom: 3px solid rgb(43, 129, 243);color: rgb(43, 129, 243);}
.profileNav{
	padding: 15px;
	border-radius: 5px;
}
.profileNav:hover{
	background-color: var(--profileNavBC);

}
.tabcontent {
	display: none;
	margin: 10px 0;
} 
.currentTab{
	display: block;
}
.indtabcontent {
	width: 50%;min-width: 30%;object-fit: contain;
	margin-right: auto;	margin-left: auto;margin-top: 10px;margin-bottom: 10px;padding: 10px 20px;
	border-radius: 10px;word-break: break-word;
	background-color: var(--indtabcontentBC);
	box-shadow: 0 0 2px 1px rgb(180, 180, 180);
}
.aboutHeading{
	font-weight: 500;font-size: large;
}
.aboutLine{
	padding: 10px 0 25px 0;
	display: flex;vertical-align: middle;overflow: auto;
}
.moveUp{animation: moveUp 0.5s ease-in-out;}
@keyframes moveUp{
	0%{transform: translateY(10px);}
}
.subIcon{
	width: 30px;
	padding:5px;margin-right: 15px;
	border-radius: 50%;border: 1px solid rgb(220, 220, 220);
	cursor: pointer;
}
.subIcon:hover {
	transform: scale(1.5);
	transition: transform 0.2s ease-in-out;
}
.animateIcon{animation: scale 0.5s ease-in-out;}
@keyframes scale{
	0%{transform: scale(0.1);}
}
.educationIcon{padding: 10px 7px;opacity: 0.8;margin-right: 5px;}
.postIcon{width: 40px;padding: 1px;margin-right: 10px;}
.postHeading{font-weight: 600;}
.workPeriod{opacity: 0.6;}
.smallWorkPeriod{opacity: 0.6;font-size: small;}
.pageLink{
	text-decoration: none;
	color: rgb(24,118,242);
	cursor: pointer;
}
.postRefActionButton{display: flex;flex-direction: column;}
.postRefLanguages{width: 50%;}
.postRefActionButtonA,.postRefActionButtonB{background-color: #1877f2;color: white;cursor: pointer;border-radius: 6px;padding: 7px;text-decoration: none;text-align: center;}
.postRefActionButtonA:hover,.postRefActionButtonB:hover{opacity: 0.8;}
.postRefActionButtonB{color: #1c1e21;background-color: #E4E6EB;}
.postRefActionButtonsDiv{display: flex;justify-content: space-between;align-items: center;border-top: 1px solid rgba(0, 0, 0, 0.1);padding: 10px 10px 5px 10px;}
.langauagesUsed{color: #00a400;font: large monospace;}
.postImage{height: auto; width: 100%; text-align: center;border-top: 1px solid rgba(0, 0, 0,0.1);}
progress{width: 200px;animation: increaseWidth 1s ease-in-out;}
@keyframes increaseWidth{
	0%{width: 0px;background-color: white;}
	100%{background-color: white;}
}
.smallDot{
	border-radius: 50%;
	display: inline-block;
	height: 4px;width: 4px;margin:0 10px 4px 10px;
	background-color: rgb(0, 150, 255);
}
.actionBar{
	width: 95%;margin-left: auto;margin-right: auto;padding: 5px;margin-top: 20px;
	border-top: 1px solid rgb(200, 200, 200);border-bottom: 1px solid rgb(200, 200, 200);
	display: flex;justify-content: center;align-content: center;text-align: center;
	cursor: pointer;
}
.actionIcon{
	height: 25px;vertical-align: middle;
	padding: 10px;padding-right: 5px;
	opacity: 0.85;
}
#commentIcon{height: 20px;opacity: 0.6;padding-right: 10px;}
.likeButton,.commentButton{	width: 50%;padding: 2px;}
.likedButton{color: var(--likedButtonC); background-color: var(--likedButtonBC);}
.commentButton:hover, .likeButton:hover{
	background-color: var(--profileNavBC);
}
.likedButton:hover{background-color: rgba(0, 70, 250, 0.3);}
.actionText{
	font-size: medium;opacity: 0.85;
	margin: auto;
}
.inputBox{
	border-radius: 40px;padding: 10px 15px;margin: 2px;
	border: none;font-size: medium;
	background-color: var(--inputBC);color: var(--inputC);
}
.inputBox::placeholder{color: var(--inputPC);}
.inputTextarea{border-radius: 10px;}
.sendButton{
	background-color: rgb(27, 118, 216);color: white;
	border-radius: 10px;padding: 10px;margin: 2px;
	border: none;width: 100px;text-align: center;font-weight: bold;
	cursor: pointer;
}
.sendButton:hover{
	opacity: 0.8;
}
code{
	font-size: large;
	background-color: var(--inputBC);
}
img{cursor: pointer;}
table{border-collapse: collapse;width: 100%;}
td,th{border: 1px solid gainsboro;width: 33%;}
comment{
	color: limegreen;
}
#goUpButton{
	position: fixed; bottom: 10px; right: 10px;
	padding: 10px 15px 20px 15px;font-family: cursive;
	font-size: xx-large;
	height: 20px;width: 20px;
	border-radius: 50%;
	background-color: var(--profileNavC);color: var(--profileNavBC);
	animation: goUp 1s ease-out;
	cursor: pointer; text-decoration: none;
}
#goUpButton:hover{opacity: 0.7;}
@keyframes goUp{
	50%{transform: translateY(-10px);}
}
@media only screen and (max-width: 768px){
	.indtabcontent{width: 90%;}
}