#headername {
	margin-left: 40% ;
	color: white; 
	font-family: "Comic Sans MS", Times serif;
	display:inline-block;
	overflow: visible;
	height: 0.5em;
}
.tabs:hover{
	background-color: rgb(39,69,132);
}
.tabs {
	color: white;
	text-decoration: none;
	font-size: 1.2em;	
	font-family: "Arial";
	padding-right: 18px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-top: 17px;
	overflow: visible;
	cursor: pointer;
}
.tabcontent {
	height: 50%;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	background-color: gainsboro;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 1em
}
#intabsimg {
	width: 2em;
	height: 2em;
	border-radius: 1em;
}
#intabsheading {
	display: inline-block;
	padding: 3px;
}
