
#headername {
	margin-left: 40% ;
	color: white; 
	font-family: "Comic Sans MS", Times serif;
	display:inline-block;
	overflow: visible;
	height: 0.5em;
}
.tabs {
	color: white;
	text-decoration: none;
	font-size: 1.2em;	
	font-family: "Arial";
	padding-right: 18px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-top: 17px;
	overflow: visible;
	cursor: pointer;
}
.tabs:hover{
	background-color: rgb(39,69,132);
}
#tabs {
	background-color: white;
	color: rgb(39,69,132);
	text-decoration: none;
	font-size: 1.2em;	
	font-family: "Arial";
	overflow: visible;
	cursor: pointer;	
}
#tabs:hover {
	color: white;
	background-color: rgb(39,69,132);	
}
#tabs:focus{
	background-color: rgb(39,69,132);
	color: black;
}
  .tabcontent {
	display: none;
} 
.indtabcontent {
	height: 50%;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: whitesmoke;
	border-radius: 1em;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;

}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
#intabsimg {
	width: 2em;
	height: 2em;
	border-radius: 1em;
	margin-left: 1em;
	margin-top: 0.8em;	
}
#intabsheading {
	display: inline-block;
	font-family: Arial;
	padding: 3px;
}
p {
	font-family: Georgia;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
